{{define "yield"}}
    <div class="container smaller">
        <h1 style="text-align: center;">New Run</h1>
        <form method="POST" class="form-group">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Distance (in miles)" name="distance_in_miles">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Duration" name="duration">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Start Time" name="start_time">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Heart Rate" name="heart_rate">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Podcast" name="podcast">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Episode" name="episode">
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Temperature" name="temperature">
                </div>

                <div class="form-group col-md-3">
                    <select class="form-control" name="quality">
                        <option selected>Quality</option>
                        <option value="Great">Great</option>
                        <option value="Good">Good</option>
                        <option value="Okay">Okay</option>
                        <option value="Bad">Bad</option>
                        <option value="Awful">Awful</option>
                    </select>
                </div>
            </div>

            <div style="text-align: center;">
                <div style="display: inline-block;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="walkBox" value="walked" name="walk">
                        <label class="form-check-label" for="walkBox">Walked?</label>
                    </div>
                    <input type="submit" formaction="api_v1/run" class="btn btn-primary">
                    <input type="reset" class="btn btn-primary">
                    <button type="button" id="reset" onclick="Reset()" class="btn btn-primary">Clear All</button>
                </div>
            </div>
        </form>
    </div>

    <h1>Past Runs</h1>
    <table class="table">
        <tr>
            <th>Distance (miles)</th>
            <th>Duration</th>
            <th>Start data</th>
            <th>Start time</th>
            <th>Podcast</th>
            <th>Episode</th>
            <th>Temperature</th>
            <th>Heart Rate</th>
            <th>Quality</th>
        </tr>
        {{range .Runs}}
            {{if .Walk}}
                <tr class="bg-danger">
                    <td>{{.DistanceInMiles}}</td>
                    <td>{{.Duration}}</td>
                    <td>{{.StartDate}}</td>
                    <td>{{.StartTime}}</td>
                    <td>{{.Podcast}}</td>
                    <td>{{.Episode}}</td>
                    <td>{{.Temperature}}</td>
                    <td>{{.HeartRate}}</td>
                    <td>{{.Quality}}</td>
                </tr>
            {{else}}
                <tr class="bg-primary">
                    <td>{{.DistanceInMiles}}</td>
                    <td>{{.Duration}}</td>
                    <td>{{.StartDate}}</td>
                    <td>{{.StartTime}}</td>
                    <td>{{.Podcast}}</td>
                    <td>{{.Episode}}</td>
                    <td>{{.Temperature}}</td>
                    <td>{{.HeartRate}}</td>
                    <td>{{.Quality}}</td>
                </tr>
            {{end}}
        {{end}}
    </table>
{{end}}